# Ignore logs and checkpoints
.ipynb_checkpoints/
*.pyc
*.log

# Ignore large and generated data files
data/
*.zip
*.pickle

# Ignore environment files, API keys, secrets
.env
config/secrets.json
keys/
